<section class="chart">

  <section class="input">
    <app-choose-diagram (eventEmitter)="onRequest($event)"></app-choose-diagram>
  </section>

  <section class="diagram">
    <ngx-charts-line-chart
      [gradient]="gradient"
      [legend]="showLegend"
      [results]="data"
      [scheme]="colorScheme"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [view]="view"
      [xAxisLabel]="xAxisLabel"
      [xAxis]="showXAxis"
      [yAxisLabel]="yAxisLabel"
      [yAxis]="showYAxis">
    </ngx-charts-line-chart>
  </section>

</section>
