.chart {
  display: flex;
  flex-direction: column;
}

.input {
  width: 70%;
  margin: 1% auto auto;
}

.diagram {
  margin: 1% auto auto;
  padding: 1%;
}

.diagram p {
  font-size: 2rem;
}
