<div [hidden]="citiesList.length === 0">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSortActive="totalJobOffers" matSortDirection="desc">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disabled> No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>Name</th>
      <td mat-cell *matCellDef="let city"> {{city.name}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <ng-container matColumnDef="linkedinOffers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="300USD per offer" matTooltipPosition="above">Linkedin</th>
      <td mat-cell *matCellDef="let city"> {{city.linkedinOffers.toLocaleString('en-US').replace(',', ' ')}} </td>
      <td mat-footer-cell *matFooterCellDef> {{totalOffers[0]}} </td>
    </ng-container>

    <ng-container matColumnDef="pracujOffers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="499PLN per offer" matTooltipPosition="above">Pracuj</th>
      <td mat-cell *matCellDef="let city"> {{city.pracujOffers.toLocaleString('en-US').replace(',', ' ')}} </td>
      <td mat-footer-cell *matFooterCellDef> {{totalOffers[1]}} </td>
    </ng-container>

    <ng-container matColumnDef="noFluffJobsOffers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="490PLN per offer" matTooltipPosition="above">NoFluffJobs</th>
      <td mat-cell *matCellDef="let city"> {{city.noFluffJobsOffers.toLocaleString('en-US').replace(',', ' ')}} </td>
      <td mat-footer-cell *matFooterCellDef> {{totalOffers[2]}} </td>
    </ng-container>

    <ng-container matColumnDef="justJoinOffers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="290PLN per offer" matTooltipPosition="above">JustJoin</th>
      <td mat-cell *matCellDef="let city"> {{city.justJoinOffers.toLocaleString('en-US').replace(',', ' ')}} </td>
      <td mat-footer-cell *matFooterCellDef> {{totalOffers[3]}} </td>
    </ng-container>

    <ng-container matColumnDef="totalJobOffers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Offers</th>
      <td mat-cell *matCellDef="let city"> {{city.totalJobOffers.toLocaleString('en-US').replace(',', ' ')}} </td>
      <td mat-footer-cell *matFooterCellDef> {{totalJobOffersSum}} </td>
    </ng-container>

    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Population</th>
      <td mat-cell *matCellDef="let city"> {{city.population.toLocaleString('en-US').replace(',', ' ').replace(',', ' ')}}</td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="jobOfferPer100kCitizens">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>per 100k citizens</th>
      <td mat-cell *matCellDef="let city"> {{city.jobOfferPer100kCitizens}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="areaSquareKilometers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Area in km<sup>2</sup> </th>
      <td mat-cell *matCellDef="let city"> {{city.areaSquareKilometers.toLocaleString('en-US').replace(',', ' ')}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="destinyOfPopulation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Destiny of population</th>
      <td mat-cell *matCellDef="let city"> {{city.destinyOfPopulation.toLocaleString('en-US').replace(',', ' ')}} </td>
      <td mat-footer-cell *matFooterCellDef> {{this.today | date}} </td>
    </ng-container>

    <ng-container matColumnDef="averageFlatPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Average flat price</th>
      <td mat-cell *matCellDef="let city"> {{city.averageFlatPrice.toLocaleString('en-US').replace(',', ' ')}} </td>
      <td mat-footer-cell *matFooterCellDef> gratka.pl </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>

<div class="spinner">
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>

