<div id="tables" [hidden]="technologiesList.length === 0">
  <table mat-table [dataSource]="langueageData" matSort class="mat-elevation-z8" matSortActive="jobOffersAmount"
    matSortDirection="desc">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Language </th>
      <td mat-cell *matCellDef="let technology"> {{technology.name}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <ng-container matColumnDef="jobOffersAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Offers </th>
      <td mat-cell *matCellDef="let technology"> {{technology.jobOffersAmount}} </td>
      <td mat-footer-cell *matFooterCellDef> {{this.totalLangueage}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>


  <table mat-table [dataSource]="frameworkData" matSort class="mat-elevation-z8" matSortActive="jobOffersAmount"
    matSortDirection="desc">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Framework </th>
      <td mat-cell *matCellDef="let technology"> {{technology.name}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <ng-container matColumnDef="jobOffersAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Offers </th>
      <td mat-cell *matCellDef="let technology"> {{technology.jobOffersAmount}} </td>
      <td mat-footer-cell *matFooterCellDef> {{this.totalFramework}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>


  <table mat-table [dataSource]="devOpsData" matSort class="mat-elevation-z8" matSortActive="jobOffersAmount"
    matSortDirection="desc">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DevOps </th>
      <td mat-cell *matCellDef="let technology"> {{technology.name}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <ng-container matColumnDef="jobOffersAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Offers </th>
      <td mat-cell *matCellDef="let technology"> {{technology.jobOffersAmount}} </td>
      <td mat-footer-cell *matFooterCellDef> {{this.totalDevOps}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>

<div class="spinner">
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>
