table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.spinner {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}

.mat-h1 {
  padding: 20px 0px 0x 10px;
}
