<mat-form-field class="inputField">
  <input (keyup.enter)='getData()' [formControl]="searchInput" [matAutocomplete]="auto"
         aria-label="Number" matInput placeholder="{{getInputGhostLabel()}}" type="text">
  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
    <mat-option *ngFor="let inputHint of filteredInputs | async" [value]="inputHint">
      {{inputHint}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<button (click)='getData()' [disabled]="isDisabled" class="searchBtn" mat-raised-button
        matTooltip="Job offers in last month"
        matTooltipPosition="above" matTooltipShowDelay="1000">Search
</button>
