<mat-form-field class="inputField">
  <input type="text" placeholder="{{isCityOrTechnologyLabel() ? 'City' : 'Technology'}}" aria-label="Number" matInput [formControl]="searchInput" [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let inputHint of filteredInputs | async" [value]="inputHint">
      {{inputHint}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<button (click)='getData()' class="searchBtn" mat-raised-button matTooltipShowDelay="1000" matTooltipPosition="above"
  matTooltip="Job offers in last month" [disabled]="isDisabled">Search</button>
