<section class="inputMenu">
  <app-main-input-field></app-main-input-field>
</section>

<section class="List border rounded">
  <div [hidden]="countryList.length === 0">
    <mat-form-field>
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table matSort matSortActive="total" matSortDirection="desc">

        <ng-container matColumnDef="position">
          <th *matHeaderCellDef disabled mat-header-cell mat-sort-header> No.</th>
          <td *matCellDef="let element; let i = index" mat-cell>{{ (pageIndex * pageLimit) + i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef disabled mat-header-cell mat-sort-header>Name</th>
          <td *matCellDef="let country" mat-cell> {{country.name}} </td>
        </ng-container>

        <ng-container matColumnDef="linkedin">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Linkedin</th>
          <td *matCellDef="let country" mat-cell> {{country.linkedin | spaceBetween3Chars}} </td>
        </ng-container>

        <ng-container matColumnDef="indeed">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Indeed</th>
          <td *matCellDef="let country" mat-cell> {{country.indeed | spaceBetween3Chars}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Total</th>
          <td *matCellDef="let country" mat-cell> {{country.total | spaceBetween3Chars}} </td>
          <td *matFooterCellDef mat-footer-cell> {{totalJobOffersSum | spaceBetween3Chars}} </td>
        </ng-container>

        <ng-container matColumnDef="population">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Population</th>
          <td *matCellDef="let country" mat-cell> {{country.population | spaceBetween3Chars}}</td>
        </ng-container>

        <ng-container matColumnDef="per100k">
          <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Job Offers per 100k citizens"
              matTooltipPosition="above">per 100k
          </th>
          <td *matCellDef="let country" mat-cell> {{country.per100k}} </td>
        </ng-container>

        <ng-container matColumnDef="area">
          <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="area in km2" matTooltipPosition="above">
            Area
          </th>
          <td *matCellDef="let country" mat-cell> {{country.area | spaceBetween3Chars}} </td>
        </ng-container>

        <ng-container matColumnDef="density">
          <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="population / area"
              matTooltipPosition="above">Density
          </th>
          <td *matCellDef="let country" mat-cell> {{country.density | spaceBetween3Chars}} </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[20, 50, 100, 300]"></mat-paginator>
    </div>
  </div>

  <div class="spinner">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
  </div>

</section>
