<mat-form-field class="inputCity">
  <input type="text" placeholder="City" aria-label="Number" matInput [formControl]="searchCity" [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let city of filteredCities | async" [value]="city">
      {{city}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<button (click)='getData()' class="searchBtn" mat-raised-button
  matTooltip="Job offers in last month" [disabled]="isDisabled">Search</button>
