<section class="about">
  <table class="about-table">
    <tr>
      <th>Site name</th>
      <td>Linkedin.com</td>
      <td>Indeed.com</td>
      <td>Pracuj.pl</td>
      <td>NoFluffJobs.com</td>
      <td>JustJoin.It</td>
    </tr>
    <tr>
      <th>Range of stored data</th>
      <td>30 days</td>
      <td>30 days</td>
      <td>30 days</td>
      <td>30 days</td>
      <td>30 days</td>
    </tr>
    <tr>
      <th>Nett price per offer</th>
      <td>300+ USD</td>
      <td>Search engine</td>
      <td>499 - 999 PLN</td>
      <td>490 - 1590 PLN</td>
      <td>290 - 590 PLN</td>
    </tr>
    <tr>
      <th>Founded date</th>
      <td>2002</td>
      <td>2004</td>
      <td>2000</td>
      <td>2014</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>Mandatory salary</th>
      <td>
        <mat-icon>clear</mat-icon>
      </td>
      <td>
        <mat-icon>clear</mat-icon>
      </td>
      <td>
        <mat-icon>clear</mat-icon>
      </td>
      <td>
        <mat-icon>done</mat-icon>
      </td>
      <td>
        <mat-icon>done</mat-icon>
      </td>
    </tr>
    <tr>
      <th>Interactive map</th>
      <td>
        <mat-icon>clear</mat-icon>
      </td>
      <td>
        <mat-icon>clear</mat-icon>
      </td>
      <td>
        <mat-icon>clear</mat-icon>
      </td>
      <td>
        <mat-icon>done</mat-icon>
      </td>
      <td>
        <mat-icon>done</mat-icon>
      </td>
    </tr>
  </table>
</section>
