<section class="about">
  <div class="about-info">
    Portal showing data from last month
  </div>
  <div class="about-list">
      <ul class="list-info">
        <li>Site</li>
        <li>Price per offer</li>
        <li>Founded date</li>
        <li>Additional</li>
      </ul>

      <ul class="linkedin-list">
        <li>Linkedin.com</li>
        <li>300+ USD</li>
        <li>2002</li>
        <li>Biggest in world, prices depends</li>
      </ul>

      <ul class="pracuj-list">
        <li>Pracuj.pl</li>
        <li>499 - 999 PLN</li>
        <li>2000</li>
        <li>Biggest in poland</li>
      </ul>

      <ul class="nofluffjobs-list">
        <li>NoFluffJobs.com</li>
        <li>490 - 1590 PLN</li>
        <li>2014</li>
        <li>Mandatory salary</li>
      </ul>

      <ul class="justjoin-list">
        <li>JustJoin.It</li>
        <li>290 - 590 PLN</li>
        <li>2017</li>
        <li>Mandatory salary</li>
      </ul>
  </div>

</section>
