.about {
  display: flex;
  justify-content: center;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 2% auto auto;
}

  .about-list {
    list-style-type: none;
  }
