.inputMenu {
  margin: auto;
  width: 50%;
  padding-top: 2%;
  text-align: center;
}

.List {
  margin: auto;
  width: 90%;
}

.tables {
  display: flex;
  justify-content: space-around;
}

table {
  width: 30%;
}

.translate {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.spinner {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}
