<section class="inputMenu">
  <app-main-input-field></app-main-input-field>
</section>

<section class="List border rounded">
  <div [style.display]="categoryList.length === 0 ? 'none' : 'flex'" class="tables">
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort
           matSortActive="pracuj" matSortDirection="desc">

      <ng-container matColumnDef="position">
        <th *matHeaderCellDef disabled mat-header-cell mat-sort-header> No.</th>
        <td *matCellDef="let element; let i = index" mat-cell>{{i + 1}}</td>
        <td *matFooterCellDef mat-footer-cell>
          <mat-slide-toggle (click)="switchLanguage()"></mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="polishName">
        <th *matHeaderCellDef disabled mat-header-cell mat-sort-header> Name</th>
        <td *matCellDef="let category" mat-cell> {{isLanguage ? category.polishName : category.englishName}} </td>
        <td *matFooterCellDef mat-footer-cell> Total</td>
      </ng-container>

      <ng-container matColumnDef="pracuj">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Pracuj</th>
        <td *matCellDef="let category" mat-cell> {{category.pracuj | spaceBetween3Chars}} </td>
        <td *matFooterCellDef mat-footer-cell> {{totalOffers | spaceBetween3Chars}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
    </table>
  </div>

  <div class="spinner">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
  </div>

</section>
