.inputMenu {
  margin: auto;
  width: 50%;
  padding-top: 2%;
  text-align: center;
}

.List {
  margin: auto;
  width: 90%;
}

.tables {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

table {
  width: 30%;
  margin-bottom: 1rem;
}

.spinner {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}
