<section class="inputMenu">
  <app-main-input-field></app-main-input-field>
</section>

<section class="List border rounded">
  <div [style.display]="technologyList.length === 0 ? 'none' : 'flex'" class="tables">
    <table #languageTable="matSort" [dataSource]="languageData" class="mat-elevation-z8" mat-table matSort
           matSortActive="total"
           matSortDirection="desc">

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef disabled mat-header-cell mat-sort-header> Language</th>
        <td *matCellDef="let technology" mat-cell> {{technology.name}} </td>
        <td *matFooterCellDef mat-footer-cell> Total</td>
      </ng-container>

      <ng-container matColumnDef="linkedin">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Linkedin</th>
        <td *matCellDef="let technology" mat-cell> {{technology.linkedin | spaceBetween3Chars}} </td>
        <td *matFooterCellDef mat-footer-cell> {{this.totalLinkedin[0] | spaceBetween3Chars}} </td>
      </ng-container>

      <ng-container matColumnDef="indeed">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Indeed</th>
        <td *matCellDef="let technology" mat-cell> {{technology.indeed | spaceBetween3Chars}} </td>
        <td *matFooterCellDef mat-footer-cell> {{this.totalIndeed[0] | spaceBetween3Chars}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Total</th>
        <td *matCellDef="let technology" mat-cell> {{technology.total | spaceBetween3Chars}} </td>
        <td *matFooterCellDef mat-footer-cell> {{this.totalOffers[0] | spaceBetween3Chars}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
    </table>

    <table #frameworkTable="matSort" [dataSource]="frameworkData" class="mat-elevation-z8" mat-table matSort
           matSortActive="total"
           matSortDirection="desc">

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef disabled mat-header-cell mat-sort-header> Framework</th>
        <td *matCellDef="let technology" mat-cell> {{technology.name}} </td>
        <td *matFooterCellDef mat-footer-cell> Total</td>
      </ng-container>

      <ng-container matColumnDef="linkedin">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Linkedin</th>
        <td *matCellDef="let technology" mat-cell> {{technology.linkedin | spaceBetween3Chars}} </td>
        <td *matFooterCellDef mat-footer-cell> {{this.totalLinkedin[1] | spaceBetween3Chars}} </td>
      </ng-container>

      <ng-container matColumnDef="indeed">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Indeed</th>
        <td *matCellDef="let technology" mat-cell> {{technology.indeed | spaceBetween3Chars}} </td>
        <td *matFooterCellDef mat-footer-cell> {{this.totalIndeed[1] | spaceBetween3Chars}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Offers</th>
        <td *matCellDef="let technology" mat-cell> {{technology.total | spaceBetween3Chars}} </td>
        <td *matFooterCellDef mat-footer-cell> {{this.totalOffers[1] | spaceBetween3Chars}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
    </table>

    <table #devOpsTable="matSort" [dataSource]="devOpsData" class="mat-elevation-z8" mat-table matSort
           matSortActive="total"
           matSortDirection="desc">

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef disabled mat-header-cell mat-sort-header> DevOps</th>
        <td *matCellDef="let technology" mat-cell> {{technology.name}} </td>
        <td *matFooterCellDef mat-footer-cell> Total</td>
      </ng-container>

      <ng-container matColumnDef="linkedin">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Linkedin</th>
        <td *matCellDef="let technology" mat-cell> {{technology.linkedin | spaceBetween3Chars}} </td>
        <td *matFooterCellDef mat-footer-cell> {{this.totalLinkedin[2] | spaceBetween3Chars}} </td>
      </ng-container>

      <ng-container matColumnDef="indeed">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Indeed</th>
        <td *matCellDef="let technology" mat-cell> {{technology.indeed | spaceBetween3Chars}} </td>
        <td *matFooterCellDef mat-footer-cell> {{this.totalIndeed[2] | spaceBetween3Chars}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Offers</th>
        <td *matCellDef="let technology" mat-cell> {{technology.total | spaceBetween3Chars}} </td>
        <td *matFooterCellDef mat-footer-cell> {{this.totalOffers[2] | spaceBetween3Chars}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
    </table>
  </div>

  <div class="spinner">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
  </div>

</section>
