.inputMenu {
  margin: auto;
  width: 50%;
  padding-top: 2%;
  text-align: center;
}

.List {
  margin: auto;
  width: 70%;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.spinner {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}
